footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--background-footer);
    margin-top: 2rem;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.footer__content span {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}