@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-out;
}

body, html {
    display: flex;
    flex-direction: column;
    min-width: 414px;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background: var(--background);
}

:root {
    --background: #F9F9F9;
    --white: #F9F9F9;
    --background-card: #EBE9EA;
    --background-footer: #1b1b1b;
    --gray: #474747;
}