header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: var(--background-footer);
}

.header__promotion span {
    color: var(--background);
    font-size: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: var(--background);
}

.logo span {
    font-size: 24px;
    font-weight: 600;
}

.banner {
    width: 100%;
    height: 378px;

    background-image: url("../assets/images/Mask\ Group.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4.5rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
    /* width: 520px;
    height: 100%; */
}

.banner__content h1 {
    font-size: 32px;
    color: var(--white);
}

.banner__content span {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

@media screen and (max-width: 570px) {
    .banner {
        background-image: url("../assets/images/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1\ \(1\).svg");
    }

    .banner__content {
        padding-left: 2rem;
    }
}