main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 2rem;
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: 20px;
    text-align: center;
}

.highlights span {
    font-size: 32px;
    font-weight: 600;
}

.highlights p {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}

.main__content ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.main__content li {
    flex: 1 1 300px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
    background: var(--background-card);
    cursor: pointer;
}

.main__content li:hover {
    transform: scale(1.05);
}

.main__content li img {
    width: 100%;
}